@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";

$mobile: max-width 600px;

// Objects

.btn{
	padding:10px 20px; 
	border:0;
	background-color:red;
	color:#fff;
	font-size:13px;
	text-align: center;
	text-decoration: none;
	cursor:pointer;

	i{ 
		margin-right:10px;
		color:#fff;
	}


	&.captureVideo{
		position: fixed;
		right:20px;
		bottom:20px;
		padding:0;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		background-color: red;
		color: #fff;
		border: 0;
		font-size: 20px;
		outline: none;
		i{margin:0;}
	}
}

body,html{
	padding:0;
	margin:0;
	font-family:Arial;
}


nav#mobileNav{
	position: absolute;
	left:-220px; //-300px;
	width:220px;
	top:87px;
	bottom:0;
	background-color: #999;
	-webkit-transition: all 0.3s; /* Safari */
	transition: all 0.3s;
	z-index:9999;

	&.show{
		left:0;
	}

	a{
		box-sizing:border-box;
		display:block;
		width:100%;
		padding:20px 20px;
		margin-bottom:1px;
		text-decoration: none;
		color:#fff;
	}
}

header#main{
	box-sizing: border-box;
	width:100%;
	background-color:#eee;
	padding:10px 20px;

	.toggleNaV{
		position: fixed;
		z-index: 9;
		top: 34px;
		width:21px;
		height:18px;
		border:0;
		outline: none;
		background-color: transparent;
		background-image: url('images/icon-hamburger.png');
		background-repeat: no-repeat;
		background-size: cover;
		display: none;

	}

	a#logo{
		display: inline-block;
		img{
			width:240px;
			height:auto;
		}
	}

	nav{
		margin: 24px 0 0 24px;
		vertical-align: top;
		display: inline-block;
		a{
			display: inline-block;
			color:#000;
			text-decoration: none;
			padding:10px 20px;
			// border:1px dashed #666;
			&.active{ font-weight:bold; }
		}
	}

	span#profileInfo{
		margin-top: 24px;
		vertical-align: top;
		display: inline-block;
		float:right;
	}

}


section#content{
	padding:30px 20px;
}


//// VIDEO OVERVIEW
body.videos{
	ul{
		margin:0;
		padding:0;
		li.video-item{
			list-style: none;
			float:left;
			margin:10px 10px 0 0;
			position:relative;

			a{
				color:#000;
				font-size:14px;
			}

			&:hover .info{ display: block; }

			.info{
				padding:10px;
				position:absolute;
				left:0;
				top:0;
				right:0;
				bottom:0;
				background-color:rgba(255,255,255,0.5);
				display: none;

				h3{ font-size:14px;}

			}
		}
	}
}

body.videos.show{
	video{
		margin:20px 0;
		width:100%;
		height:auto;
	}
}

// mobile
@include breakpoint($mobile) {
	header#main{
		position: fixed;
		top:0;
		z-index:9;
		display: table;
		nav,span#profileInfo{
			display: none;
		}

		a#logo{
			float:right;
		}
		
		.toggleNaV{ display: block; z-index:9; }

	}
	
	section#content{
		margin-top: 85px;
		
		.video-item img{
			width:100%;
			height: auto;
		}
	}
	
	#profileInfo{
		display: none;
	}
}
