<h1>Analyses</h1>

{{log model}}

<ul>
	{{#each model as |analyse|}}
	<li class="video-item">
		
		{{analyse.name}}
		<!-- {{#link-to 'videos.show' analyse}}{{/link-to}} -->
		<a {{action 'removeAnalyse' analyse}}>{{fa-icon 'trash'}}</a>
		
	</li>
	{{/each}}
</ul>
