<h1>Groepen</h1>
{{#link-to 'groups.add'}}{{fa-icon 'plus'}} Groep toevoegen{{/link-to}}
<ul>
  {{#each model as |group|}}
    <li class="group-item">
		{{group.name}}
		<button {{action 'removeGroup' group}}>x</button>
		{{#link-to 'groups.edit' group}}wijzig{{/link-to}}
	</li>
  {{/each}}
</ul>

