<h1>Sport toevoegen</h1>

<p>
	{{input type="text" value=name placeholder="titel" size="50"}}
</p>

{{#link-to 'sports' class="btn"}}Annuleren{{/link-to}}
<button class="btn" {{action 'addSport'}}>Toevoegen</button>
