<h1>Sporten</h1>
{{#link-to 'sports.add' class="btn"}}{{fa-icon 'plus'}}Sport toevoegen{{/link-to}}
<ul>
  {{#each model as |sport|}}
    <li class="sport-item">
		{{sport.name}}
		<a {{action 'removeSport' sport}}>{{fa-icon 'trash'}}</a>
	</li>
  {{/each}}
</ul>
