<h1>Video bekijken</h1>

<p>{{model.title}}</p>


<video controls>
	<source src="{{model.url}}" type="video/mp4">
</video>

<a href="{{model.url}}" download>{{fa-icon "download"}} Download de video</a>
