<h1>Videos</h1>

{{log model}}


<ul>
  {{#each model as |video|}}
    <li>
		{{#link-to 'video' video}}
		<h3>{{video.title}}</h3>
		<img src="{{video.url}}"/>
		{{/link-to}}
	</li>
  {{/each}}
</ul>
